Username:
<%- userRow.username %><br> Email:
    <%- userRow.email %><br> Register date and time:
        <%- userRow.register_time %>
            <br>
            <from action="/user_profile_image" method="POST" enctype="multipart/from-data">
                <input type="file" name="myFile">
            </from>
            <a href="/logout">Log out</a>