<div class="panel panel-primary">
    <div class="panel-heading"> Products
      <button class="btn btn-warning pull-right" style="margin-top:-6px" type="button">
        <i class="glyphicon glyphicon-shopping-cart"></i> Your Order
        <span class="badge">4</span>
      </button>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <form class="form-inline" role="form">
            <div class="form-group">
              <label for="productCategory">Product Category</label>
              <!--<div class="input-group-addon">@</div> -->
              <select class="form-control" id="ddlProductCategory">
                <option>Book</option>
                <option>Cosmetic</option>
                <option>Shirt</option>
                <option>Shoe</option>
              </select>
              <div class="input-group">
                <input type="text" class="form-control" id="txtSearchProduct" placeholder="Search Product" />
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-search"></i>
                </div>
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-plus"></i>
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="col-md-6">
          <ul class="pagination pull-right" style="margin-top:-2px">
            <li>
              <a href="#">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li>
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div id="bookList" class="row">
      </div>
    </div>
  </div>