 Welcome to Facebook
<br>
<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>
<br>
<div class="fb-login-button" data-max-rows="1" data-size="small" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false" scope="public_profile,email" onlogin="checkLoginState();"></div>
<br>
<input type="button" onclick="FB.login()" value="Facebook Login">