<html>

<head>
    <title>koa ejs</title>


    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '401358866984058', // your-app-id-facebook-develop
                cookie: true,
                xfbml: true,
                version: 'v2.12' //latest-api-version
            });

            // https://graph.facebook.com/v2.12/me?access_token=your token

            FB.AppEvents.logPageView();
            FB.event.subscribe('auth.login', (response) => {
                console.log(response)
            })
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function checkLoginState() {
            FB.getLoginStatus(function(response) {
                console.log(response);
            });
            FB.api("/me?field=id,name,email,public_profile", function(res) {
                //FB.api("/me/picture?type=large", function(res) {
                console.log(res)
            })
        }
    </script>
</head>

<body>
    <h3>koa ejs</h3>
    <%- body %>
</body>

</html>