.Calculator {
    background-color: rgba(6, 164, 255, 0.8);
    border-color: #d3d3d3;
    border-radius: 20px;
    border-style: solid;
    border-width: thin;
    color: white;
    display: inline-block;
    margin: 60px auto;
    padding: 20px;
}

.Calculator-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 50px);
}