Please Signin<br>
<form action="/auth/signin_completed" method="post">
    Username: <input type="text" name="username"><br> Password: <input type="password" name="password" id="password"><br>
    <a href="/auth/signup"> OR Please Sign UP</a>
    <input type="submit">
</form>