@import '~antd/dist/antd.min.css';
body {
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
}

.ant-list-empty-text {
    color: rgba(0, 0, 0, .45);
    font-size: 14px;
    padding: 16px;
    text-align: center;
    height: 400px;
}