.appcenter{
    margin: auto;
    margin-top: 200px;
  }
  
  .contentright{
    float: right;
    clear: left;
  }
  
  .contentleft{
    float: left;
    clear: right;
  }
  
  .ant-list-split .ant-list-item {
    border-bottom: 0px solid #e8e8e8;
  }