@import '~antd/dist/antd.css';
.App {
    text-align: center;
    margin-top: 100px;
}

.custom-card-left {
    text-align: center;
    background: #1da1f2;
    height: 100vh;
    color: white
}

.centered1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.custom-card-right {
    text-align: center;
    margin-top: 100px;
    background: white;
}

h3 {
    color: white;
}