div.visible {
  width: 200px;
  height: 50px;
  background-color: #eee;
  overflow: visible;
}

div.hidden {
  width: 200px;
  height: 50px;
  background-color: #eee;
  overflow: hidden;
}

div.scroll {
  width: 200px;
  height: 50px;
  background-color: #eee;
  overflow: scroll;
}

div.auto {
  width: 200px;
  height: 50px;
  background-color: #eee;
  overflow: auto;
}
